<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of Financial Transactions</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Amount</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
<!--    for Thymleaf:-->
        <tr th:each="financialTransaction : ${financialTransactions}">
            <td th:text="${financialTransaction.id}"></td>
            <td th:text="${financialTransaction.date}"></td>
            <td th:text="${financialTransaction.amount}"></td>
            <td th:text="${financialTransaction.category}"></td>
            <td>
                <button class="editBtn btnWithImage" id="editBtn" title="Edit"
                        th:attr="data-id=${financialTransaction.id},
                        data-type=${financialTransaction.financialTransactionType},
                        data-amount=${financialTransaction.amount},
                        data-date=${financialTransaction.date},
                        data-category=${financialTransaction.category}">
                </button>
            </td>
            <td>
                <form th:action="@{/delete}" method="post">
                    <input type="hidden" name="id" th:value="${financialTransaction.id}" />
                    <button type="submit" class="btnWithImage" id="deleteBtn" th:attr="data-id=${financialTransaction.id}"
                            onclick="return confirm('Czy jesteś pewien/pewna, że chcesz usunąć operację z id: ' + this.getAttribute('data-id') + '?')"
                            title="Delete"></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

<!--Edition field-->

    <div id="dialog" class="hidden">
        <h2>Edit transaction:</h2>
        <form action="update-transaction" method="post">
            <label>Transaction ID</label>
            <input type="number" name="Id" id="id" readonly>

            <label>Transaction type:</label>
            <select id="type" name="financialTransactionType">
                <option value="" disabled selected>Transaction type</option>
                <option value="INCOME">Income</option>
                <option value="EXPENSE">Expense</option>
            </select>

            <label>Amount</label>
            <input type="number" step="any" name="amount" id="amount" required>

            <label>Date</label>
            <input type="date" name="date" id="date" required readonly>

            <label>Category</label>
            <input type="text" name="category" id="category" required>

            <button id="submitBtn" type="submit">Edit</button>
            <button id="cancelDialogBtn" type="button">Cancel</button>
        </form>
    </div>



    <div class="other-content">

<!--    Formy filtrów-->

        <h2>Statystyka</h2>
        <br>
        <form action="/financial-transactions" method="get" th:object="${filter}">
            <label>Rok</label>
            <input type="number"  id="year" th:field="*{year}">

            <label>Miesiąc</label>
            <input type="number" id="month" th:field="*{month}">

            <label>Typ operacii:</label>
            <select id="operationTypeFilter" th:field="*{financialTransactionType}">
                <option value="" selected>All</option>
                <option value="INCOME">Income</option>
                <option value="EXPENSE">Expense</option>
            </select>

            <label>Kategoria:</label>
            <select id="categoryFilter" th:field="*{category}">
                <option value="" selected>All</option>
                <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
            </select>

            <br>
            <br>

            <button id="submitStatsBtn" type="submit">Zastosuj</button>

            <br>
            <br>

            <label>Summa:
                <span id="totalAmountValue" th:text="${totalAmount}"></span>
            </label>
        </form>

        <br>
        <br>

<!--    Alerts field-->

        <div th:each="alert : ${alerts}">
            <label th:text="${alert.message}"></label>
        </div>

    </div>
    <div class="clear"></div>
    <script src="/edit-transaction-dialog-script.js"></script>
</body>
</html>
