<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Sterowanie limitami</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

<!--sterowanie limitami-->

  <div class="leftside-content">
    <h3>Ustawienia limitów</h3>
    <form action="/add-new-limit" method="post">
      <input placeholder="Wpisz kwotę" type="number" step="any" name="limitAmount" required>

      <select name="limitType" required>
        <option value="" disabled selected>Okres limitu</option>
        <option th:each="limitType : ${limitTypes}" th:if="${limitType != 'ZERO'}" th:value="${limitType}" th:text="${limitType}"></option>
      </select>

      <select name="category">
        <option value="" selected>Wszystkie kategorii</option>
        <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
      </select>

      <button type="submit">Ustalić</button>
    </form>
  </div>

<!--aktualne limity-->

<div class="other-content">
  <table>
    <thead>
    <tr>
      <th>Rozmiar limitu</th>
      <th>Typ limitu</th>
      <th>Kategorja</th>
      <th>Data utworzenia</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="limit : ${limits}">
        <td th:text="${limit.limitAmount}"></td>
        <td th:text="${limit.limitType}"></td>
        <td th:text="${limit.category}"></td>
        <td th:text="${limit.creationDate}"></td>
        <td>
          <button class="editBtn btnWithImage" id="editBtn" title="Edytuj"
                  th:attr="data-id=${limit.id},
                  data-limitType=${limit.limitType},
                  data-limitAmount=${limit.limitAmount},
                  data-date=${limit.creationDate},
                  data-category=${limit.category}">
          </button>
        </td>
        <td>
          <form th:action="@{/delete-limit}" method="post">
            <input type="hidden" name="id" th:value="${limit.id}" />
            <button type="submit" class="btnWithImage" id="deleteBtn" th:attr="data-id=${limit.id}"
                    onclick="return confirm('Czy jesteś pewien/pewna, że chcesz usunąć limit z id: ' + this.getAttribute('data-id') + '?')"
                    title="Usuń"></button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>

</div>

<!--Edition field-->

<div id="dialog" class="hidden">
  <h2>Eycja limitu:</h2>
  <form action="update-limit" method="post">
    <label>Limit Id</label>
    <input type="number" name="Id" id="id" readonly>

    <label>Limit type:</label>
    <select id="limitType" name="limitType">
      <option value="" disabled selected>Limit type</option>
      <option th:each="limitType : ${limitTypes}" th:if="${limitType != 'ZERO'}" th:value="${limitType}" th:text="${limitType}"></option>
    </select>

    <label>Amount</label>
    <input type="number" step="any" name="amount" id="amount" required>

    <label>Category</label>
    <select name="category">
      <option value="" selected>Wszystkie kategorii</option>
      <option th:each="category : ${categories}" th:value="${category}" th:text="${category}"></option>
    </select>

    <button id="submitBtn" type="submit">Edytuj</button>
    <button id="cancelDialogBtn" type="button">Cofnij</button>
  </form>
</div>
<!--           todo: przerobić zapytanie usunięcia     -->
<!--  <script src="/static/error_dialog.js"></script>-->
<div class="clear"></div>
<script src="/edit-script.js"></script>
</body>
</html>