<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New user registration</title>
</head>
<body>
    <p>
        Enter your email, create a password, and press 'Create' to register like a new user.
    </p>
    <form action="/registration" method="post">
        <div>
            <label>Login</label>
            <input type="text" id="email_input" name="username" placeholder="Email" required><br><br>

            <label>Password</label>
            <input type="password" id="password_input" name="password" placeholder="Password" required><br><br>

        </div>
        <div>
            <button type="submit" title="Ok">Sign Up</button>
        </div>
    </form>
</body>
</html>